{% extends 'base.html' %}

{% block content %}
<style>
p.double {border-style: double;}
</style>

<div style="border:6px solid maroon; background:#ccc;">
This page was made by Conner Bell, a freshman Computer Engineering student at Mississippi State University.
<br><br>
I got this idea when Caleb Meadows, a chemistry SI at the university, asked for a program to easier convert
his CISCO WEBEX attendance for his sessions into the form that the SI website asks for. I was never shown 
any netIDs or names in order to maintain the anonymity that SI is known for and required to have. 
</div>
<br>

{% endblock %}